
test/verif\.zip

cobertura/code_instru/

cobertura/report/

cobertura/couverture\.ser

src/fr/esisar/compilation/syntaxe/Lexical\.java

src/fr/esisar/compilation/syntaxe/parser\.java

src/fr/esisar/compilation/syntaxe/sym\.java

output/fr/esisar/compilation/syntaxe/Lexical\.java

output/fr/esisar/compilation/syntaxe/Lexical\.java~

output/fr/esisar/compilation/syntaxe/parser\.java

output/fr/esisar/compilation/syntaxe/sym\.java

classes/fr/esisar/compilation/

bin/fr/esisar/compilation/

*.ass
